@import url('https://fonts.googleapis.com/css?family=Noto+Sans+Multani');
body {
    background-color: #213A85;
    font-family: Noto Sans Multani;
    margin: 0;
    padding: 0;
}

.projects-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    justify-content: center;
}

.project-container {
    background-color: #405DB7;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    flex: 1;
    max-width: calc(33.33% - 20px);
    position: relative;
    min-width: 300px;
}

.project-title {
    color: white;
    font-size: 24px;
}

/* gif images */
.project-description img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 0;
    align-items: center;
}
  
/* text description */
.project-description {
    color: white;
    font-size: 16px;
    margin-top: -12%;
    margin-bottom:15%;
    display: flex;
    align-items: center;
    text-align: center; 
}

.project-links {
    display: flex;
    align-items: center;
    padding-top: 10px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.project-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    padding: 10px 0;
    border: 1px solid black;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: #213A85;
    flex: 1;
    margin: 0;
}

.project-links a:first-child {
    margin-left: 0;
    border-radius: 0 0 0px 5px;
    height: 30px; 
}

.project-links a:last-child {
    margin-right: 0;
    border-radius: 0 0 5px 0px;
    height: 30px; 
}

.project-links a:hover {
    background-color: #45a049;
}

.project-image-link {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url('https://static-00.iconduck.com/assets.00/github-icon-2048x1988-jzvzcf2t.png');
  background-size: auto 80%; 
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 10px;
  cursor: pointer;
  transition: opacity 0.3s ease;
  opacity: 0.7;
}

.project-image-link:hover {
    opacity: 1;
}

h1 {
    color: white;
    text-align: center;
}

h2 {
  color: white;
  text-align: center;
  padding-bottom: 10%;
}

h3 {
  color: white;
  text-align: center;
  margin-bottom: 5px;
}